<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <!-- O trecho abaixo faz com que o coração mostrado no footer da aplicação
        fique vermelho, utilizando a diretiva appRed criada apenas para isso. 
        Normalmente, utilizaria-se CSS para fazer esse procedimento (como está abaixo).
        Porém, apenas para exemplicar, criou-se uma diretiva que altera a aparência. -->
        <i class="material-icons v-middle" appRed>
            favorite
        </i>
        por <strong class="red">mssousa</strong>
    </span>
</mat-toolbar>